<h1>Add new Address</h1>
<div class="container">
    <div class="new-address-form">
        <form class="row">
            <div class="col map-wrapper">
                <h2>Placement on map</h2>
                <p class="small-txt">Location is: longitude={{ lng.toFixed(6) }}, latitude={{ lat.toFixed(6) }}</p>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16" style="height: 300px;"
                         (mapClick)="placeMarker($event)">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>

            </div>
            <div class="col">
                <h2>New address</h2>
                <p class="small-txt">Use this fields to add a new address</p>
                <input type="text" class="txt" placeholder="FullName" name="fullname" [(ngModel)]="fullNameText">
                <input type="text" class="txt" placeholder="Address" name="address" [(ngModel)]="addressText">
                <textarea type="text" class="txt" placeholder="Some notices here..." name="notice"
                          [(ngModel)]="noticeText"></textarea>
                <button type="button" class="btn" (click)="addNewAddress()" routerLink="list">Save</button>
            </div>

        </form>
    </div>
</div>