.new-address-form {
  width: 100%;
  .btn {
    margin-top: 20px;
  }
  @media only screen and (min-width: 769px) {
    width: 90%;
    margin: 0 auto;
    .map-wrapper{
      float: right;
    }
  }
  @media only screen and (min-width: 1025px) {
    width: 80%;
  }
}