<h1>Add new Address</h1>
<div class="container">
    <div class="new-address-form">
        <p class="subscribe-text">Use this form to add a new address</p>
        <form>
            <input type="text" class="txt" placeholder="FullName" name="fullname" [(ngModel)]="fullNameText" required>
            <input type="text" class="txt" placeholder="City" name="city" [(ngModel)]="cityText" required>
            <input type="text" class="txt" placeholder="Street" name="street" [(ngModel)]="streetText" required>
            <input type="text" class="txt" placeholder="Build" name="build" [(ngModel)]="buildText" required>
            <input type="text" class="txt" placeholder="Flat" name="flat" [(ngModel)]="flatText">
            <input type="submit" class="btn" value="Add new address" (click)="addNewAddress()" routerLink="list">
            <div class="container">
                <h1>Поиск с автозаполнением в Google Maps через Angular</h1>
                <agm-map [latitude]="lat" [longitude]="lng" style="height: 300px;" (mapClick)="placeMarker($event)">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
        </form>
    </div>
</div>