<!--<div class="new-address-form">-->
  <!--<p class="subscribe-text">Use this form to add a new address</p>-->
  <!--<form>-->
    <!--<input type="text" class="txt" placeholder="First name" name="firstname" [(ngModel)]="inputNameText" required>-->
    <!--&lt;!&ndash;<input type="text" class="txt" placeholder="Last name" name="lastname">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" class="txt" placeholder="City" name="city" required>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" class="txt" placeholder="Street" name="street" required>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" class="txt" placeholder="Build" name="build" required>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" class="txt" placeholder="Flat" name="flat">&ndash;&gt;-->

    <!--<input type="submit" class="btn" value="Add new address" (click)="addNewAddress()">-->
  <!--</form>-->
<!--</div>-->
