<h1>My address book</h1>
<div class="container">
    <div class="list">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Street</th>
                    <th>Build</th>
                    <th>Flat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let address of addressbook">
                    <td>{{ address.fullName }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.street }}</td>
                    <td>{{ address.build }}</td>
                    <td>{{ address.flat }}</td>
                    <td><a routerLink="/edit/{{ address.fullName }}">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>