<h1>My address book</h1>
<div class="container">
    <div class="list">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>City</td>
                    <td>Street</td>
                    <td>Build</td>
                    <td>Flat</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let address of addressbook">
                    <td>{{ address.fullName }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.street }}</td>
                    <td>{{ address.build }}</td>
                    <td>{{ address.flat }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>