<h1>Edit Address</h1>
<div class="container">
  <div class="new-address-form">
    <p class="small-txt">Edit exist address</p>
    <form>
      <input type="text" class="txt" placeholder="FullName" name="fullname" [(ngModel)]="fullNameText" required>
      <input type="text" class="txt" placeholder="City" name="city" [(ngModel)]="cityText" required>
      <input type="text" class="txt" placeholder="Street" name="street" [(ngModel)]="streetText" required>
      <input type="text" class="txt" placeholder="Build" name="build" [(ngModel)]="buildText" required>
      <input type="text" class="txt" placeholder="Flat" name="flat" [(ngModel)]="flatText">
      <textarea type="text" class="txt" placeholder="Some notices here..." name="notice"
                [(ngModel)]="noticeText"></textarea>

      <input type="submit" class="btn" value="Update address" (click)="editAddress()" routerLink="list">
    </form>
  </div>
</div>
